.no-bottom-margin {
    margin-bottom: 0;
}
.post-content h2 {
    font-size: 1.75rem;
    color: #333333;
    line-height: 1.25;
}
.flex-container {
    display: flex;
    margin-bottom: 2rem;
}
.image-mobile-swap-order {
    margin-left: 1rem;
}
.post-content aside {
    background-color: #e3e3e3;
    padding: 1rem;
    font-size: .85em;
    margin-bottom: 1rem;
}
.post-content aside > *:last-of-type {
    margin-bottom: 0;
}
.img-thumb-med {
    max-width: 300px
}
#caricature-artist-contact-cta {
    padding: 2rem;
    background-color: #e3e3e3;
    margin-bottom: 2rem;
}
#caricature-artist-contact-cta h2 {
    margin-bottom: 0;
}
@media only screen and (max-width: 600px) {
    .flex-container  .image-mobile-swap-order {
        order: -1;
        margin-left: 0;
        margin-bottom: 1rem;
    }
    .flex-container {
        flex-wrap: wrap;
    }
    .img-thumb-med {
        max-width: 100%;
    }
}
