html, body {
    overflow-x: clip;
    overflow-x: hidden;
}
.no-bottom-margin {
    margin-bottom: 0;
}
.post-content :not(section) h2 {
    font-size: 1.75rem;
    color: #333333;
    line-height: 1.25;
    margin-top: 2rem;
}
.flex-container {
    display: flex;
    margin-bottom: 2rem;
}
.image-left-mobile-swap-order {
    margin-left: 1rem;
    img {
        margin-right: 0;
    }
}
.post-content aside {
    background-color: #e3e3e3;
    padding: 1rem;
    font-size: .9em;
    margin-bottom: 1rem;
    border-radius: 5px;
}
.post-content aside > *:last-of-type {
    margin-bottom: 0;
}
.img-thumb-med {
    max-width: 300px;
    border-radius: 5px;
    margin-right: 1rem;
}
.x-center-text {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.hidden {
    display:none;
}
/* --- Posts --- */
.post h1 {
    margin-bottom: 0;
}

.post-link::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.post-preview {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
.post_thumb_img {
    border-radius: 5px;
}

.post-preview-text {
    margin: 1rem;
    flex: 1;
}
.post .artist-credit {
    margin-top: 2rem;
    border-radius: 5px;
}
.post .artist-credit h2 {
    margin-top: 0;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}
/* --- Home Page --- */
#home-hero-section {
    background-color: #00213c;
    background-image: url("/images/unsplash_isabel_galvez_octopus.jpg");
    background-size: cover;
    height: 60vh;
    background-repeat: no-repeat;
    background-position: -50px center;
    position: relative;
    margin-bottom: 2rem;
    padding: 1rem;
    @media only screen and (min-width: 700px) {
        height: 77vh;
        background-position-x: -100px;
    }

    /* left + right extensions */
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100vw;
        background: #00213c;
        z-index: -1;
    }

    /* push left */
    &::before {
        right: 100%;
    }

    /* push right */
    &::after {
        left: 100%;
    }
    #hero-text {
        position: absolute;
        color: white;
        bottom: 10%;
        text-align: center;
        width: calc(100% - 1rem);
        text-shadow: 1px 1px 2px black;
        @media only screen and (min-width: 700px) {
            width: calc(50% - 1rem);
            text-align: left;
            h2 {
                font-size: 1.25rem;
            }
            right: 0;             
        }
    }
    #hero-credit {
        a {
            color: white;
            &:hover {
                color: white;
            }
        }
        position:absolute;
        font-size: 10px;
        bottom: 1em;
        right: 0;
        opacity: 0.5;
    }

}

/* --- Poems --- */
.poem h1 {
    margin-bottom: 0;
}

.poem-intro-img {
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    display: block;
}
/* --- Caricature Artist Page ---*/
#caricature-artist-contact-cta {
    padding: 2rem;
    background-color: #e3e3e3;
    margin-bottom: 2rem;
}
#caricature-artist-contact-cta h2 {
    margin-bottom: 0;
}
#caricature-samples-btn {
    margin-top: 1rem;
}

/* --- About Page */
#about-ocean-separator-img {
    max-height: 130px;
    width: 100%;
    border-radius: 5px;
    opacity: .9;
    object-fit: cover;
    object-position: left 43%;
}

/* --- Global / Misc --- */
html {
    scroll-behavior: smooth;
}
.small-heading-subtext {
    display: block;
    font-size: 0.6em;
    font-style: italic;
}
#signature-box #signature {
    display: block;
    font-style: italic;
    font-weight: bold;
}

.btn {
    border-radius: 5px;
    border: 1px solid #cccccc;    
    display: inline-block;
    padding: .5rem 1rem;
}

.btn-dark, .btn:visited {
    border: 0;
    background-color: lighten($dark-blue, 10%);
    color: lighten($brand-color, 40%);
    transition: all .25s ease-in;
    &:hover {
        background-color: lighten($dark-blue, 30%);
        color: white;        
        text-decoration: none;
    }
}

/* --- Media Queries --- */
@media only screen and (max-width: 600px) {
    .flex-container  .image-left-mobile-swap-order {
        order: -1;
        margin-left: 0;
    }
    .flex-container {
        flex-wrap: wrap;
    }
    .img-thumb-med {
        margin-bottom: 1rem;
        max-width: 100%;
        margin-right: 0;
    }
}


.post-preview {
    > img {
        flex: 1;
    }
    h3 {
        line-height: 1.2em;
    }

    @media only screen and (max-width: 600px) {
        background-color: #eaeaea;
        border-radius: 5px;
    }
}


