---
layout: default
---
<article class="post poem h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta poem-meta">
        
        {%- if page.author -%}
        A poem by
          <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
        {%- endif -%} &nbsp; • &nbsp;
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}
            {{ page.date | date: date_format }}
        </time>
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody" markdown="1">
    {{ content }}
    <br>
    <br>
    <a class="btn btn-dark" href="/poetry#{{page.poem-id}}"><< Back to Poetry Posts</a>
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
